<div class="container text-black  animated fadeIn">
    <nav class="breadcrumb">
        <a class="breadcrumb-item text-red" routerLink="">Home</a>
        <a class="breadcrumb-item text-red" routerLink="../">List</a>
      </nav>
  <div class="row justify-content-center">
    <div id="First" class="col-sm-5 col-md-5">
        <mdb-carousel [isControls]="true" class="carousel slide carousel-fade red-text" [animation]="'fade'">
            <!--First slide-->
            <mdb-carousel-item>
              <div class="view w-100">
                <img class="d-block w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2OYYRhi4LfRjpdfSKtLwuiNML1tVkh4uMkgPjj4FGOZMNyh37" alt="First slide">
                <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
              </div>
              <div class="carousel-caption">
              </div>
            </mdb-carousel-item>
            <!--/First slide-->
            <!--Second slide-->
            <mdb-carousel-item>
              <div class="view w-100">
                <img class="d-block w-100" src="https://cdn.idealo.com/folder/Product/4161/1/4161102/s4_produktbild_gross/fossil-townsman-me1138.jpg" alt="Second slide">
                <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
              </div>
              <div class="carousel-caption text-black">
              </div>
            </mdb-carousel-item>
            <!--/Second slide-->
            <!--Third slide-->
            <mdb-carousel-item>
              <div class="view w-100">
                <img class="d-block w-100" src="https://p.globalsources.com/IMAGES/PDT/BIG/247/B1112083247.jpg" alt="Third slide">
                <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
              </div>
              <div class="carousel-caption">
              </div>
            </mdb-carousel-item>
            <!--/Third slide-->
          </mdb-carousel>
    </div>
    <!--col[0]-->
    <div class="col-sm-5 col-md-5" >
      <h1>Deteils about watch</h1>
      <p>Lorem ipsum dolo
       sit, amet consectetur adipisicing elit. Corporis.</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis.</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis.</p>
      <div class="row justify-content-between">
          <h3 class="align-self-end">Price 100$</h3>
          <a href="https://signin.ebay.com/ws/eBayISAPI.dll?SignIn&UsingSSL=1&siteid=0&co_partnerId=2&pageType=2487261&ru=https%3A%2F%2Fwww.ebay.com%2Fmys%2Foverview%3FMyEbay%26gbh%3D1%26CurrentPage%3DMyeBayAllSelling%26ssPageName%3DSTRK%3AME%3ALNLK%3AMESX" mdbBtn role="button" color="red" size="lg" mdbWavesEffect>Link for buy</a>
      </div>
      <!--row-->
    </div>
    <!--col-md[1]-->
  </div>
  <!--row-->
<hr>
<div class="row justify-content-between mx-3">
  <div class="col-sm-4 col-md-4 animated fadeIn">
    <h1>Deteils about watch</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis.</p>
  </div>
  <div class="col-sm-6 col-md-6">
    <img class="img-thumbnail my-2  animated fadeIn" src="https://p.globalsources.com/IMAGES/PDT/BIG/247/B1112083247.jpg"
      alt="watch">
  </div>
</div>
</div>
<!--row-->
