<!--Section: Features v.2-->
<section class="text-center px-3 animated fadeIn">

  <!--Section heading-->
  <h2 class="h1 text-left py-3 font-weight-bold">Why is it so great?</h2>
 <!-- Card -->
<div class="card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

    <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
        <div>
            <h5 class="pink-text"><i class="fa fa-pie-chart"></i> Marketing</h5>
            <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                Odit sed qui, dolorum!.</p>
            <a mdbBtn color="red" class="waves-light" (click)="products()" mdbWavesEffect><i class="fa clock-o left"></i> View project</a>
        </div>
    </div>
    <!-- Content -->
</div>
<!-- Card -->
  <!--Grid row-->
  <div class="row text-left">

      <!--Grid column-->
      <div class="col-md-4 mb-4">
          <div class="col-1 col-md-2 float-left">
              <i class="fa fa-bullhorn blue-text fa-2x"></i>
          </div>
          <div class="col-10 col-md-9 col-lg-10 float-right">
              <h4 class="font-weight-bold">Marketing</h4>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
              <a mdbBtn color="primary" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
          </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4">
          <div class="col-1 col-md-2 float-left">
              <i class="fa fa-cogs pink-text fa-2x"></i>
          </div>
          <div class="col-10 col-md-9 col-lg-10 float-right">
              <h4 class="font-weight-bold">Customization</h4>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
              <a mdbBtn color="pink" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
          </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4">
          <div class="col-1 col-md-2 float-left">
              <i class="fa fa-dashboard purple-text fa-2x"></i>
          </div>
          <div class="col-10 col-md-9 col-lg-10 float-right">
              <h4 class="font-weight-bold">Support</h4>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
              <a mdbBtn color="secondary" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
          </div>
      </div>
      <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Features v.2-->