<!-- Card -->
<div class="card card-cascade wider card-ecommerce">
  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhOQeq4DgxxNhzxci3Hk-7lf_e3mlWYMAc2hW-ULiOX21wDueX" class="card-img-top" alt="sample photo">
    <a (click)="detiel()">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <!-- Card image -->
  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">
    <!-- Category & Title -->
    <a  class="text-muted">
      <h5 >{{ watch.brand }}</h5>
    </a>
    <h4 class="card-title">
      <strong>
        <a  >{{ watch.model.nameModel }}</a>
      </strong>
    </h4>
    <!-- Description -->
    <p class="card-text">{{watch.model.description}}</p>
    <!-- Card footer -->
    <div class="card-footer px-1">
      <span class="float-left font-weight-bold">
        <strong>{{ watch.model.price }}$</strong>
      </span>
    </div>
  </div>
  <!-- Card content -->
</div>
<!-- Card -->
