<!-- Card -->
<div class="card card-cascade wider card-ecommerce">
  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img [src]="watch.img.src" class="card-img-top" alt="sample photo">
    <a (click)="detiel()">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <!-- Card image -->
  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">
    <!-- Category & Title -->
    <a  class="text-muted">
      <h5>{{ watch.brand }}</h5>
    </a>
    <h4 class="card-title">
      <strong>
        <a >{{ watch.model }}</a>
      </strong>
    </h4>
    <!-- Description -->
    <p class="card-text">Lorem ipsum dolor{{watch.scopeDelivery}}, consectetur adipisicing minima veniam elit.</p>
    <!-- Card footer -->
    <div class="card-footer px-1">
      <span class="float-left font-weight-bold">
        <strong>{{ watch.price }}$</strong>
      </span>
    </div>
  </div>
  <!-- Card content -->
</div>
<!-- Card -->
