
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark red scrolling-navbar ie-nav" [containerInside]="false">
  <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#"><strong>TimeRunch</strong></a>
  </mdb-navbar-brand>
  <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link" routerLink=""><i class="fa fa-home"></i></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link" routerLink="products"><i class="fa fa-shopping-cart"></i></a>
          </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fa fa-instagram"></i></a>
          </li>
      </ul>
  </links>
</mdb-navbar>
<!-- Main -->
<main>
    <div class=" rgba-black-strong text-white text-center pt-5 mt-4">
  <div class="container " >
      <div class="row ">
          <div class="col">
              <h2>This Navbar isn't fixed</h2>
              <h5>When you scroll down it will disappear</h5>
          </div>
      </div>
  </div>

</div>
</main>
<!-- /.Main -->
