
.container {
    font-family: 'Lobster', cursive;
    height: 15rem;
    
}
.navbar{
    position: relative;
}
// position and size logo
.logo{
    background: url(../img/logo.png) no-repeat 50% 50%;
    top: 0;
    left: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 60px;
}